<div class="tab-content">
	<div class="tab-pane" id="spirits">
		<div class="row">
			<div class="span3">
				<p><b>Brandy</b></p>					
				Much brandy is distilled from grapes, but there are some varieties that use other fruits as their base.
				Serve brandy with fruit and fruit juices, but don't use the finest brandies for mixed drinks.
			</div>
			<div class="span3">
				<p><b>Gin</b></p>
				A clear grain spirit infused with juniper berries, gin was first produced in Holland over 400 years ago. Serve it with citrus fruits, fresh berries and tonic water.
			</div>
			<div class="span3">
				<p><b>Rum</b></p>
				This Carribbean staple, which dates back to the 17th century, is made from sugar cane left over after sugar production. Serve rum with any exotic fruits, cream or cola.
			</div>
		</div>
		<div class="row">
			<div class="span3">
				<p><b>Tequila</b></p>
				Mexico's best-known spirit is made from the blue agave plant, and its origins can be traced back to the Aztecs. It was traditionally served by itself as a Tequila Slammer, but also works well with citrus and sour fruits as well as ginger and tomato.
			</div>
			<div class="span3">
				<p><b>Vodka</b></p>
				Vodka is distilled from grain and is relatively free from natural flavour. There is fierce debate as to its origins, with both the Poles and the Russians claiming to have invented the drink. With its neutral character, it is infinitely mixable with a huge range of flavours. Serve it with cranberry, tomato or citrus juices, or for a classic drink simply add tonic water.
			</div>
			<div class="span3">
				<p><b>Whisky</b></p>
				The origins of whisky are hotly debated, with both Scotland and Ireland staking a claim to having developed it. Modern whiskies have a much smoother taste and texture, and there are two main types: blended and unblended. Serve it with water, soda water, cola or ginger ale.
			</div>
		</div>
	</div>
	<div class="tab-pane active" id="glasses">
		<div class="row">
			<div class="span3">
				<p><b>Champagne flute</b></p>					
				Used for Champagne and Champagne cocktails, the narrow mouth of the flute helps the drink to stay fizzy.
			</div>
			<div class="span3">
				<p><b>Champagne saucer</b></p>
				These old-fashioned glasses are not very practical for serving Champagne because the drink quickly loses its fizz.
			</div>
			<div class="span3">
				<p><b>Wine glass</b></p>
				Sangria is often served in a wine glass, but they are not usually used for cocktails
			</div>
		</div>
		<div class="row">
			<div class="span3">
				<p><b>Martini glass</b></p>
				A martini glass, also known as a cocktail glass, is designed so that your hand can't warm the glass, making sure that the cocktail is served completely chilled.
			</div>
			<div class="span3">
				<p><b>Margarita glass</b></p>
				When this type of glass is used for a Margarita, the rim is dipped in salt. These glasses are used for daiquiris and other fruit-based cocktails.
			</div>
			<div class="span3">
				<p><b>Highball glass</b></p>
				A highball glass is suitable for any long cocktail, from the Cuba Libre to Long Island Iced Tea.
			</div>
		</div>
		<div class="row">
			<div class="span3">
				<p><b>Old-fashioned glass</b></p>
				Also known as a rocks glass, the old-fashioned glass is great for any drink that's served on the rocks or straight up. It's also good for muddled drinks.
			</div>
			<div class="span3">
				<p><b>Shot glass</b></p>
				Shot glasses are often found in two sizes - for a single or double measure. They are ideal for a single mouthful, which can range from a Tequila Shot to the more decadent layered B-52.
			</div>
			<div class="span3">
				<p><b>Balloon glass</b></p>
				These glasses are usually used for fine spirits, whose aroma is as importantas the taste. The glass can be warmed to encourage the release of the aroma.
			</div>
		</div>
		<div class="row">
			<div class="span3">
				<p><b>Hurricane glass</b></p>
				This type of glass is mostly found in beach bars, where it is used to serve creamy, rum-based drinks.
			</div>
			<div class="span3">
				<p><b>Boston glass</b></p>
				Often used by bartenders for mixing cocktails, the Boston glass is also good for fruity drinks.
			</div>
			<div class="span3">
				<p><b>Toddy glass</b></p>
				A toddy glass is generally used for a hot drink, such as Irish Coffee.
			</div>
		</div>
	</div>
	<div class="tab-pane" id="equipment">
		<div class="row">
			<div class="span3">
				<p><b>Shaker</b></p>
				The Boston shaker is the most simple option, but it needs to be used in conjunction with a hawthorne strainer. Alternatively you could choose a shaker with a built-in strainer.
			</div>
			<div class="span3">
				<p><b>Mixing glass</b></p>
				A mixing glass is used for those drinks that require only a gentle stirring before they are poured or strained.
			</div>
			<div class="span3">
				<p><b>Food processor</b></p>
				A food processor or blender is useful for making frozen cocktails and smoothies.
			</div>
		</div>
		<div class="row">
			<div class="span3">
				<p><b>Hawthorne strainer</b></p>
				This type of strainer is often used in conjunction with a Boston shaker, but a tea strainer will also work well.
			</div>
			<div class="span3">
				<p><b>Muddling stick</b></p>
				Similar to a pestle, which will work just as well, a muddling stick, or muddler, is used to crush fruit or herbs in a glass or shaker for drinks like the Mojio.
			</div>
			<div class="span3">
				<p><b>Bar spoon</b></p>
				Similar to a teaspoon but with a long handle, a bar spoon is used for stirring, layering and muddling drinks
			</div>
		</div>
		<div class="row">
			<div class="span3">
				<p><b>Measure or jigger</b></p>
				Single and double measures are available and are essential when you are mixing ingredients so that the proportions are always the same. One measure is 25ml or 1 fl oz.
			</div>
			<div class="span3">
				<p><b>Bottle opener</b></p>
				Some bottle openers have two attachments, one for metal-topped bottles and a corkscrew for wine bottles.
			</div>
			<div class="span3">
				<p><b>Pourers</b></p>
				A pourer is inserted into the top of a spirit bottle to enable the spirit to flow in a controlled manner.
			</div>
		</div>
	</div>
	<div class="tab-pane" id="techniques">
		<div class="row">
			<div class="span3">
				<p><b>Blending</b></p>
				Frozen cocktails and smoothies are blended with ice in a blender until they are a snooth consistency. A frozen Daiquiri or Margarita is made using a virtually identical recipe to the unfrozen versions but with a scoop of crushed ice added to the blender before blending on high speed. Be careful not to add too nuch ice to the recipe as this will dilute the cocktail. It's best to add a little at a time.
			</div>
			<div class="span3">
				<p><b>Muddling</b></p>
				Muddling is a technique that is used to bring out the flavours of herbs and fruit using a blunt tool called a muddler, and the best-known muddled drink is the Mojito.
				<ol>
					<li>Add mint leaves to a highball glass. Add some sugar syrup and some lime wedges.</li>
					<li>Hold the glass firmly and use a muddler or pestle to press down. Twist and press to release the flavours</li>
					<li>Continue this for about 30 seconds, then top up the glass with crushed ice and add the remaining ingredients</li>
				</ol>
			</div>
			<div class="span3">
				<p><b>Shaking</b></p>
				The best-known cocktail technique and probably the one you use most often, so it's important to get right. Shaking is used to mix ingredients quickly and thoroughly, and to chill the drink before serving.
				<ol>
					<li>Half-fill a cocktail shaker with ice cubes, or cracked or crushed ice.</li>
					<li>If the recipe calls for a chilled glass add a few ice cubes and some cold water to the glass, swirl it around and discard.</li>
					<li>Add the recipe ingredients to the shaker and shake until a frost forms on the outside. Use both hands, one at each end, so that it doesn't slip.</li>
					<li>Strain the cocktail into a glass and serve.</li>
				</ol>
			</div>
		</div>
		<div class="row">
			<div class="span3">
				<p><b>Building</b></p>
				This is a straightforward technique that involves nothing more than putting the ingredients together in the correct order.
				<ol>
					<li>Have all the ingredients for the cocktail to hand. Chill the glass if required.</li>
					<li>Add each ingredient in recipe order, making sure that all measures are exact</li>
				</ol>
			</div>
			<div class="span3">
				<p><b>Double straining</b></p>
				When you want to prevent all traces of pur&#233ed fruit and ice fragments from entering the glass, use a shaker with a built-in strainer in conjunction with a hawthorne strainer. Alternatively, strain through a fine strainer.
			</div>
			<div class="span3">
				<p><b>Layering</b></p>
				A number of spirits can be served layered on top of each other, and because some spirits are lighter than others they will float on top of your cocktail.
				<ol>
					<li>Pour the first ingredient into a glass, taking care that it does not touch the sides.</li>
					<li>Position a bar spoon in the centre of the glass, rounded part down and facing you. Rest the spoon against the side of the glass as you poor the second ingredient own the spoon. It should float on top of the first liquid, creating a seperate layer.</li>
					<li>Repeat with the third ingredient, then carefully remove the spoon</li>
				</ol>
			</div>
		</div>
		<div class="row">
			<div class="span3">
				<p><b>Stirring</b></p>
				A cocktail is prepared by stirring when the ingredients need to be mixed and chilled but it's important to mantain the clarity. This ensures that there is no fragmented ice or air bubbles throughout the drink. Some stirred cocktails will require the ingredients to be prepared in a mixing glass, then strained into the serving glass with a fine strainer.
				<ol>
					<li>Add the ingredients to a glass in the order stated in the recipe</li>
					<li>Use a bar spoon to stir the drink, lightly or vigorouslym as described in the recipe</li>
					<li>Finish the drink with any decoration and serve</li>
				</ol>
			</div>
		</div>
	</div>	
	<div class="tab-pane" id="decorations">
		<div class="row">
			<div class="span3">
				<p><b>Wedges</b></p>
				Citrus fruits work well as wedges. The wedge can be squeezed into the drink then dropped in or served on the rim of the glass. Simply slide a sharp knife through the flesh so that you can balance it on the rim.
			</div>
			<div class="span3">
				<p><b>Slices</b></p>
				Any round fruit, such as kiwifruit, limes, lemons, oranges and apples, can be cut into cross-sections to create a slice. You can either place the slice on the rim of the glass or float it on the surface of the drink. Use your imagination and take your inspiration from the flavours in the cocktail.
			</div>
			<div class="span3">
				<p><b>Spirals</b></p>
				Citrus spirals look great when they are draped over the side of the drink or dropped into it. Use a cannelle knife to cut a long, thin strip of rind from the fruit and wind it around a cylinder, such as a bar spoon, straw or swizzle stick, to create a spiral. Hold it for a few seconds to allow it to set into shape.
			</div>
		</div>
		<div class="row">
			<div class="span3">
				<p><b>Fruit kebabs</b></p>
				Miniature kebabs can be balanced on top of drinks or placed in them. Try a combination of berries in descending order of size, such as a strawberry, blackberry, raspberry and blueberry, or use fruit of matching colours. Another option is to pick out fruits that feature in the flavouring of the cocktail. Simply thread them on to a cockail stick.
			</div>
			<div class="span3">
				<p><b>Herbs</b></p>
				Sprigs of herbs make attractive and fragrant decorations. They can be used to decorate the glass or used in the drink, as in the Virgina Mint Julep.
			</div>
		</div>
	</div>
</div>
