<% provide(:title, 'Cocktails') %>
<div class="center hero-unit">
	<h1>Cocktails</h1>
	<p>We're gunna fill this up with so many cocktails</p>
	<p>
    	<a class="btn btn-primary btn-large">
      	Can't wait!
    	</a>
  	</p>
</div>