<% provide(:title, 'Home') %>
<div class="center hero-unit">

	<div class="row-fluid">
		<h1 id="logo">CKTLS</h1>

		<% if !signed_in? %>
			<p>Boring party? Friends coming over? Let <em>CKTLS</em> find the right cocktail for any occasion</p>
			<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
		<% else %>
			<p>Start enjoying cocktails now!</p>
			<%= link_to "List of cocktails!", cocktails_path, class: "btn btn-large btn-primary" %>
		<% end %>
	</div>
	<br/>
	
	<div class="row-fluid">
		<ul class="nav nav-tabs" id="myTab">
			<li><a href="#spirits" data-toggle="tab">Spirits</a></li>
			<li><a href="#glasses" data-toggle="tab">Glasses</a></li>
			<li><a href="#equipment" data-toggle="tab">Equipment</a></li>
			<li><a href="#techniques" data-toggle="tab">Techniques</a></li>
			<li><a href="#decorations" data-toggle="tab">Decorations</a></li>
		</ul>

		<%= render 'static_pages/tab_content' %>

		<script>
			$(function () {
				$('#myTab a:first').tab('show');
			})
		</script>
	</div>

</div>