<% provide(:title, 'Home') %>
<br/>
<br/>
<div class="row-fluid center">

	<div>
		<h1 id="logo">CKTLS</h1>

		<% if !signed_in? %>
			<h2>Boring party? Friends coming over? Let <em>CKTLS</em> find the right cocktail for any occasion</h2>
			<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
		<% else %>
			<h2>Start enjoying cocktails now!</h2>
			<%= link_to "List all cocktails", cocktails_path, class: "btn btn-large btn-primary" %>
			<%= link_to "Jump to favourites", user_path(@user), class: "btn btn-large btn-primary" %>
		<% end %>
	</div>
	
</div>