<% provide(:title, 'Learn') %>
<div class="row">
	<div class="offset2 span8">
		<h1>Learn About Cocktails</h1>
		<ul class="nav nav-tabs custom-tabs" id="myTab">
			<li><a href="#spirits" data-toggle="tab">Spirits</a></li>
			<li><a href="#glasses" data-toggle="tab">Glasses</a></li>
			<li><a href="#equipment" data-toggle="tab">Equipment</a></li>
			<li><a href="#techniques" data-toggle="tab">Techniques</a></li>
			<li><a href="#decorations" data-toggle="tab">Decorations</a></li>
		</ul>

		<%= render 'static_pages/tab_content' %>

		<script>
			$(function () {
				$('#myTab a:first').tab('show');
			})
		</script>
	</div>
</div>