<li>
	<%= link_to cocktail.name, cocktail %>
	<% if signed_in? %>
		<% if current_user.admin? %>
			| <%= link_to "delete", cocktail, method: :delete, data: { confirm: "You sure?" } %>
		<% end %>
	<% end %>
</li>
