<p>
	<ul>
		<% @cocktail.ingredients.each do |ingredient| %>
			<li>
				<%= ingredient.measure %> <%= ingredient.unit %> <%= ingredient.ingredient %>
				<% if ingredient.decoration? %>
					,decoration
				<% end %>
			</li>
		<% end %>
	</ul>
</p>