<% provide(:title, @cocktail.name.titleize) %>
<div class="row">
	<aside class="span4">
		<section>
			<h2>
				<%= @cocktail.family.titleize %>
			</h2>
			<h1>
				<%= @cocktail.name.titleize %>
			</h1>
			<%= render 'cocktails/tools' %>
			<%= render 'cocktails/ingredients' %>
		</section>
	</aside>
</div>