<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate %>

<ul class="users">
	<% @users.each do |user| %>
    	<li>
    		<!-- this will loop through all the users and render the _user partial -->
    		<%= render @users %>
    	</li>
  	<% end %>
</ul>

<%= will_paginate %>