<% provide(:title, @user.name) %>
<div class="row-fluid">
	<div class="span2">
		<aside>
			<section>
				<h3>
					<%= gravatar_for @user %>
					<%= @user.name %>
				</h3>
			</section>
		</aside>
	</div>
	<div class="span8">
		<h1>My Cocktails</h1>
		<h2 id="favourites">Favourites</h2>
		<ul class="cocktails">
			<%= render @cocktails %>
		</ul>
	</div>
</div>