$(document).ready(function() {

	if ($('#favourites').length) {
		console.log('test');

		$('.cocktails > li').prepend('<span class="btn btn-info btn-small detail_toggle">details</span>');
		var toggle = -1;

		$('.detail_toggle').click(function() {
  			$(this).siblings('div').slideToggle('slow', function(){
  				if (toggle > 0) { 
  					$(this).siblings('div').attr('style', 'display: none;');
  					toggle *= -1;
  				} else {
  					$(this).siblings('div').attr('style', 'display: show;')
  					toggle *= -1;
  				}
  			});
		});

	}

 });